workflows/sms-opt-in.json
{
  "name": "SMS Opt-In",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sms-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nconst headers = $input.first().json.headers || {};\nconst signature = headers['x-twilio-signature'] || headers['X-Twilio-Signature'];\nconst body = $input.first().json.body || {};\n\n// Sort parameters alphabetically (Twilio requirement)\nconst sortedKeys = Object.keys(body).sort();\nconst payload = sortedKeys.map(key => key + body[key]).join('');\nconst webhookUrl = `https://${$env.DOMAIN}/webhook/sms-response`;\nconst expected = crypto.createHmac('sha1', authToken)\n  .update(webhookUrl + payload)\n  .digest('base64');\n\nif (!crypto.timingSafeEqual(Buffer.from(signature || ''), Buffer.from(expected))) {\n  return [{ json: { error: 'Invalid signature', statusCode: 403 } }];\n}\nreturn [{ json: body, valid: true }];"
      },
      "name": "Code - Validate Twilio Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Forbidden\", \"message\": \"Invalid signature\"}",
        "options": {
          "responseCode": 403
        },
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond - Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body.Body || '';\nconst phone = $input.first().json.body.From || '';\nconst normalizedResponse = body.trim().toLowerCase();\n\n// Validate SMS body is not empty\nif (!body || body.trim().length === 0) {\n  return [{ json: { error: 'Empty SMS body', validationError: true } }];\n}\n\n// STOP keyword detection (DSGVO Opt-out)\nconst stopWords = ['stop', 'abmelden', 'abbestellen', 'ende', 'stopp', 'unsubscribe'];\nconst isStopRequest = stopWords.some(word => normalizedResponse.includes(word));\n\nif (isStopRequest) {\n  return [{ json: { phone: phone.replace(/[^0-9+]/g, ''), response: body, action: 'unsubscribe', isStopRequest: true } }];\n}\n\n// Affirmative response detection\nconst affirmativePatterns = ['ja', 'yes', 'ok', 'okay', 'jaa', 'klar', 'gerne', 'ja bitte'];\nconst isValidResponse = affirmativePatterns.some(pattern => normalizedResponse.includes(pattern));\n\n// Phone normalization (international support)\nlet p = phone.replace(/[^0-9+]/g, '');\nif (p.startsWith('+')) {\n  // Keep international format\n} else if (p.startsWith('00')) {\n  p = '+' + p.substring(2);\n} else if (p.startsWith('0') && p.length >= 10 && p.length <= 13) {\n  p = '+49' + p.substring(1);\n} else if (!p.startsWith('+') && p.length > 0) {\n  p = '+49' + p;\n}\n\n// Extract media fields for 3-question flow\nconst numMedia = parseInt($input.first().json.body.NumMedia || '0');\nconst mediaUrl0 = $input.first().json.body.MediaUrl0 || null;\n\n// Check 3-question feature flag\nconst use3Question = $env.ENABLE_3_QUESTION_FLOW === 'true';\n\nreturn [{ json: { \n  phone: p, \n  response: body, \n  isValidResponse, \n  action: isValidResponse ? 'opt-in' : 'unknown',\n  numMedia,\n  mediaUrl0,\n  use3Question\n} }];"
      },
      "name": "Code - Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone;\nconst e164Pattern = /^\\+[1-9]\\d{1,14}$/;\nconst isValidPhone = e164Pattern.test(phone);\n\nif (!isValidPhone) {\n  return [{ json: { phone, error: 'Invalid phone format (not E.164)', validationError: true } }];\n}\n\nreturn [{ json: { phone, validPhone: true } }];"
      },
      "name": "Code - Validate Phone Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-validation-error",
              "leftValue": "={{ $json.validationError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - Validation Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Invalid input\", \"message\": \"Phone number must be in E.164 format or SMS body cannot be empty\"}",
        "options": {
          "responseCode": 400
        },
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"\u274c Workflow Error: Google Sheets Opt-Out\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "name": "Error: Opt-Out Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Abmeldung fehlgeschlagen. Bitte versuchen Sie es spater erneut.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        },
        "options": {
          "responseCode": 500
        }
      },
      "name": "Respond - Opt-Out Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.isValidResponse }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - Valid Response (JA)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "={{ $env.GOOGLE_SHEETS_RANGE }}",
        "options": {}
      },
      "name": "Google Sheets - Update Opt-In",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_SENDER }}",
        "to": "={{ $json.phone }}",
        "body": "Danke! Hier ist der Link fur Ihren Termin: https://example.com/termin",
        "options": {
          "maxTries": 3,
          "waitBetweenTries": 2000,
          "continueOnFail": true
        }
      },
      "name": "Twilio - Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"WhatsApp Opt-In erhalten von {{ $json.phone }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "name": "HTTP Request - Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Vielen Dank f\u00fcr Ihre R\u00fcckmeldung.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "name": "Respond - Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"\u274c Workflow Error: Google Sheets Update Opt-In\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "name": "Error: Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "name": "Error: Telegram Swallow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-stop",
              "leftValue": "={{ $json.isStopRequest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - STOP Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "={{ $env.GOOGLE_SHEETS_RANGE }}",
        "options": {},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OptIn_Status": "UNSUBSCRIBED",
            "OptOut_Date": "={{ $now.toISO() }}"
          }
        }
      },
      "name": "Google Sheets - Update Opt-Out",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Sie wurden erfolgreich abgemeldet.",
        "options": {
          "maxTries": 3,
          "waitBetweenTries": 2000,
          "continueOnFail": true
        }
      },
      "name": "Twilio - Send SMS Opt-Out",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"Opt-out: {{ $json.phone }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "name": "HTTP Request - Telegram Alert Opt-Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Abmeldung best\u00e4tigt",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "name": "Respond - Opt-Out Confirmed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - Validate Twilio Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Twilio Signature": {
      "main": [
        [
          {
            "node": "IF - Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Signature Valid": {
      "main": [
        [
          {
            "node": "Code - Parse SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse SMS": {
      "main": [
        [
          {
            "node": "Code - Validate Phone Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Phone Format": {
      "main": [
        [
          {
            "node": "IF - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validation Error": {
      "main": [
        [
          {
            "node": "IF - STOP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Response (JA)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Opt-In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Opt-In": {
      "main": [
        {
          "node": "Twilio - Send WhatsApp",
          "type": "main",
          "index": 0
        },
        {
          "node": "HTTP Request - Telegram Alert",
          "type": "main",
          "index": 0
        }
      ],
      "error": [
        [
          {
            "node": "Error: Update Failed",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: Telegram Swallow",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Success": {
      "main": []
    },
    "Respond - Acknowledge": {
      "main": []
    },
    "Error: Update Failed": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Telegram Swallow": {
      "main": []
    },
    "Twilio - Send WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - STOP Request": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Opt-Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Valid Response (JA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Opt-Out": {
      "main": [
        {
          "node": "Twilio - Send SMS Opt-Out",
          "type": "main",
          "index": 0
        },
        {
          "node": "HTTP Request - Telegram Alert Opt-Out",
          "type": "main",
          "index": 0
        }
      ],
      "error": [
        [
          {
            "node": "Error: Opt-Out Failed",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Error: Opt-Out Failed": {
      "main": [
        [
          {
            "node": "Respond - Opt-Out Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send SMS Opt-Out": {
      "main": [
        [
          {
            "node": "Respond - Opt-Out Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert Opt-Out": {
      "main": [
        [
          {
            "node": "Respond - Opt-Out Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Opt-Out Confirmed": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}